.App {
  text-align: center;
}

.authenticate{
  background-color: purple !important;
  border-color: purple !important;
}
.button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}